{{>head}}

<body>
  <div class="wrapper">
    <div class="content">
      {{>header}}
      <div class="container">
        <p>This site was created by Yaroslav Mishchenko. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/images/robot.png" alt="Robot photo" />
      </div>
    </div>

    {{>footer}}
  </div>
</body>

</html>